* {
     
    box-sizing: border-box;
}

html, body{
    
    width: 100%; 
    margin: 0;
    background-color: rgb(248, 248, 248);
    background-color: rgb(236, 236, 236);
    
    
    font-family: 'Spartan', sans-serif;
    
  
}

.botonmenu{
    display: none;
    
}

.header{
    background-color: aquamarine;
    background-color: white;
    display: flex  ;
    flex-wrap: nowrap;
    
    margin:0;
    flex-direction: column;
    margin-right: 20vh;
    margin-left: 20vh;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

    .menu{
        background-color: white;
        display:flex;
        flex-wrap: nowrap;
        
        flex: 1 1 auto;
        flex-direction: row;
        height: 180px;
        
        

    }

        .logo {
            background-color: white;
            
            display: flex;
            flex-wrap: nowrap;
            flex: 1 1 auto;
            
            
            font-family: 'Wire One', sans-serif;
            font-family: 'Spartan', sans-serif;
               
            color: bisque;
            display: none   ;
            
            
        }

       
        .imglogo{
            height: 70px;
            width: 300px;
            margin: 20px;
            display: none;
            
        }

        .imgiso{
            height: 80px;
            width: 80px;
            margin-top: 10px;
            margin-left: 0px;
            margin-bottom: 0px;
        }

        .nav {
            background-color:white;
            
            
            display: flex;
            flex-wrap: nowrap;
            flex: 1 1 auto;
            flex-direction: row;
            align-items: center;
            color: white;
            font-size: 18px;
            justify-content: center;
            margin-left: 40vh;
            margin-right: 40vh;
            
        }

        .nav a {    
            font-size: 16px;
            color:  black;
            text-decoration: none;
            font-weight:900;
            margin-top: 30px;
            font-family: 'Varela Round', sans-serif;
            margin-left: 15%;
            margin-right: 15%;
            background-color:white;
            display: block;
            position: relative;
            padding: 0.2em 0;       

            ;
            
        }

        .nav a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.03em;
            background-color: black;
            transition: opacity 300ms, transform 300ms;
            opacity: 1;
            transform: scale(0);
            transform-origin: center;
            }

        .nav a:hover::after, .nav a:focus::after{
            transform: scale(1);
            

        }


        .social {
            background-color: white;
            display: flex;
            flex-wrap: nowrap;
            flex: 1 1 auto;
            flex-direction: row;
            justify-content: right;
            align-self: center;
            
            color: black;
            font-size: 18px;
            display: none;

        }

            .direccion{
                margin-top: -10px;
            }

    .cartelera{
        background-color: white;
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        
        flex: 1 1 auto;
        padding: 0px;
        padding-top: 0px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 80px;
        color: white;
        
        
        
    }

    .exposicion {
        
        padding: 0px;
        margin-top: 40px;
        display: flex;
        flex-wrap: nowrap;
        font-size: 40px;
        font-weight: bold;
        color: black;
        justify-content: center;
        
        
    }
    .artista{
        display: flex;
        flex-wrap: nowrap;
        
        font-size: 100px;
        font-weight:700;
        color: black;
        justify-content: center;
        text-align: center;
        
    }

    .cartel1{
        
        color: bisque;
        margin: 0px;
        
        margin-top: 0px;
        margin-bottom: 0px;
        
        font-family: 'Spartan', sans-serif;
        display: flex;
        flex-wrap: nowrap;
        color: black;
        justify-content: center;
        
        
    }

    .cartel2{
        font-size: 20px;
        color: bisque;
        font-weight:bolder;
        
        margin-left: 0px;
        margin-top: 0px;
        display: flex;
        flex-wrap: nowrap;
        color: black;
        justify-content: center;
        
        
    }

    .letrina{

    }

    .linea{
       
        background-color: black;
        margin-right: 25vh;
        margin-left: 25vh;
        
        margin-top: 10px;
        height: 0.5px;
        color: white;
    }

    .obras{
        background-color:rgb(236, 236, 236);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;    
        padding: 0px;
        color: black;
        margin-top: 20px;
        margin-left: 20vh;
        margin-right: 20vh ;
    }
        
        .obra{
            display: flex;
            
            flex-direction: row;    
            padding-top: 30px;
            color: black;
            width: 100%;
            margin-top: 40px;
            
        }
            .cuadro{
                display: flex;
                flex-wrap: nowrap; 
                   
                padding: auto;
                color: black;
                
                justify-content: center;
                
                height: 500px;
                
                width: auto;
                background-color: black;
                
            }
            .lightbox{
                display: flex;
                flex-wrap: nowrap; 
                   
                padding: auto;
                color: black;
                
                justify-content: center;
                
                height: auto;
                
                width: auto;
                background-color: white;
                
            }

                .imgcuadro{
                    border-color: black;    
                    border-width: 0px;          
                    image-rendering: optimizeQuality;
                    width: auto;
                    border-radius: 2px;
                }

            .descripcion{
                display: flex;
                 
                flex-direction: column;
                  
                padding-top: 20px;
                padding-left: 40px;
                padding-right: 40px;
                color: black;
                width:auto;
                margin-left: 20px;
                justify-content: left;
                font-weight: bolder;
                font-size: 16px;
                background-color: white .5;

            }

            h3{
                font-weight: 900;
                
            }

            .btnsubasta{
                background-color:black;
                border-color:black;
                color: white; 
                font-weight: bold;
                padding: 15px;
                font-family: 'Varela Round', sans-serif;
                font-size: 15px;
            }

            .btnsubasta:hover{
                background-color:rgb(56, 56, 56);
                border-color:rgb(56, 56, 56);
                color: white; 
            }

            #exampleModalToggle{
                font-weight: bolder;
            }

            h5{
                font-weight: bolder;
            }
            
    footer{
        background-color:rgb(236, 236, 236) ;
        text-align: center;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 17px;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .01em;
        margin-top: 50px;
        text-transform: none;
        color: white;
        
    }
        .iconos{
            font-size: 25px;
            color: black;
            margin-top: 50px;
        }

    footer strong{
        color: black;
    }

    .lineafooter{
        background-color: black;
        
        margin-right: 45vh;
        margin-left: 45vh;
        margin-top: 90px;
        height: 0.5px;
        color: rgb(145, 145, 145);
    }

    

    

@media all and (max-width:1105px)   {

    .obras{
        background-color: white;
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-wrap:nowrap;
        margin-right: 20vh;
        margin-left: 20vh;
        flex-direction: column;    
        padding: 40px;
        color: black;
        margin-top: 40px;
        
        justify-items: center;
        align-items: center;
    }

    .obra{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;    
        padding-top: 30px;
        color: black;
        width: auto;
        margin-top: 40px;
        max-width: 500px;
        justify-items: center;  
              
    }
}

@media all and (max-width:915px) {

   

    .header{
        flex-direction: column;
        margin-right: 10vh;
        margin-left: 10vh;
        background-color: rgb(18, 18, 19);
}
        
    .menu{
       
        flex-direction: row;
        align-items: center;
        background-color: white;
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
      
        margin: 0px;
     
    }    

    .logo{
        display: none;
    }

    .imglogo{
        display:none;
        
    }

    .nav {
        align-self:center;
        justify-content: center;
        margin-left: 0px;
        
    }

    .nav a{
        display: none;
    }

    .imgiso{
        display:block;
        width: 40px;
        height: 40px;
        
    }

    .logo {
        background-color: rgb(18, 18, 19);
        
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        font-size: 25px;
        margin-top: auto;
        font-family: 'Wire One', sans-serif;
        font-family: 'Spartan', sans-serif;
        font-size: 60px;        
        color: bisque;
        display: none;    
        }
        
    .botonmenu{
        display: inline;
        margin-right: 30px;
        
    }    

    #offcanvasExample{
        background-color:rgb(18, 18, 19) ;
        color: white;
        font-size: 16px;
        max-width: 60vh;
    }

    .botonmenu .btn {
        background-color:white ;
        border-color: white;
        color: black;
        
    }

    .botonmenu .btn:hover{
        background-color:black ;
        border-color: black;
        color:white;
    }
    .btn:active{
        background-color:black ;
        border-color: black;
        color:white;
    }

    .linkmenu{
        text-decoration: none;
        color: white;
    }

    .cartelera{
        
    }

    .exposicion .artista{
        
    }

    .obras{
        background-color:rgba(236, 236, 236, 0) ;
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-wrap:nowrap;
        margin-right: 10vh;
        margin-left: 10vh;
        flex-direction: column;    
        padding: 0px;
        color: black;
        margin-top: 40px;
        
        justify-items: center;
        align-items: center;
    }

    .obra{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;    
        padding-top: 30px;
        color: black;
        width: auto;
        margin-top: 40px;
        max-width: 500px;
        justify-items: center;        
    }
    .imgcuadro{
        max-width: 80%; 
     }

    }

    @media all and (max-width:700px){
        .imgiso{
            width: 40px;
            height: 40px;
    }

    .header{
        
        margin-right: 5vh;
        margin-left: 5vh;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    
        .menu{
            background-color: white;
            display:flex;
            flex-wrap: nowrap;
            
            flex: 1 1 auto;
            flex-direction: row;
            height: 80px;
            
            
    
        }

    .exposicion {
        
        
        font-size: 32px;
        
        
        
    }
    .artista{
        
        
        font-size: 46px;
        
    }
    .obras{
        
        
        margin-top: 10px;
        margin-right: 5vh;
        margin-left: 5vh;
        
        }
        
        
    
    .letrina{

    }

    .linea{
       
        background-color: black;
        margin-right: 5vh;
        margin-left: 5vh;
        
        margin-top: 10px;
        height: 0.5px;
        color: white;
    }

    .descripcion{
        
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
        

    }

    h3{
        font-weight: 900;
        font-size: 20px;
    }

    }
        
      


    
    @media all and (max-width:600px){
        
        .header{
            margin-left: 0%;
            margin-right: 0%;
        }
        .linea{
       
                   
            margin-top: 0px;
            
        }


        .imgcuadro{
           max-width: 120%; 
           height: 50%;
        }

        .botonmenu{
            align-self: center;
            margin-right: 50px;
        }    
    
        #offcanvasExample{
            background-color:rgb(18, 18, 19) ;
            color: white;
            font-size: 15px;
            max-width: 70%;
        }
    
        .btn {
            background-color:rgb(18, 18, 19) ;
            border-color: rgb(18, 18, 19);
        }
    
        .btn:hover{
            background-color:white ;
            border-color: white;
            color:rgb(18, 18, 19);
        }

        .cuadro{
            
            
            height: auto;
            
            
            
        
        }

        .descripcion{
        
            padding-left: 0vh;
            padding-right: 0vh;
       } 

    }